<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name= "FREE ebay Application Test Automation Test Suite" parallel="tests" thread-count="2" verbose="2" >

<listeners>
	<listener
		class-name="com.ExtentReportListener.ExtentReporterNG" />
		
</listeners>

	<test name="Free ebay App Test Cases">
	<parameter name="browser" value="chrome"/>
		<packages>
			<package name="com.tests.*"/>
		</packages>
	</test>
	
	<!-- <test name="my crm test FF" parallel="methods" thread-count="5">
	<parameter name="browser" value="FF" />
		<classes>
			<class name="crm.mytests.LoginTest"/>
		</classes>
	</test> -->
	
</suite>